.env
.env.*
.env.*.local
/vendor/
composer.lock
*.log
*.cache
tmp/
cache/
logs/
phpunit.result.cache
.idea/
.vscode/
*.swp
/node_modules/
dist/
build/
*.bak
*.old
*.swp
.DS_Store
Thumbs.db
/public/index.php.bak
/sass-cache/
*~
*.tmp
/storage/logs/
bootstrap/cache/

._*
